exclude: |
  (?x)^(
    analysis/.*\.json|
    github_deploy_key_deshaw_versioned_hdf5.enc|
    .asv/
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: |
          (?x)^(
            # json5 comments prevent parsing
            asv.conf.json
          )
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: 'docs/'
        types_or: [javascript, ts, tsx, html, css]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        args: [--fix, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: python-no-log-warn
      - id: python-check-mock-methods

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.18.1
    hooks:
    - id: cython-lint
    - id: double-quote-cython-strings
