name: Benchmarks
on: [push, pull_request]
jobs:
  benchmarks:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        env: ['mindeps', 'bench']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          # get correct version from setuptools_scm
          fetch-depth: 0
          fetch-tags: true

      - uses: prefix-dev/setup-pixi@v0
        with:
          pixi-version: v0.62.2
          cache: true
          environments: ${{ matrix.env }}

      - name: Compile, install, and print versions
        run: pixi r -e ${{ matrix.env }} smoke

      - name: Setup asv
        run: |
          # Work around https://github.com/airspeed-velocity/asv/issues/1508
          sed -i "s/master/$(git rev-parse --abbrev-ref HEAD)/" asv.conf.json
          pixi r -e ${{ matrix.env }} asv-machine

      - name: Run Benchmarks
        run: pixi r -e ${{ matrix.env }} asv-run

      - name: Upload asv results
        uses: actions/upload-artifact@v5
        with:
          name: asv-results-${{ matrix.env }}
          path: .asv/results
