name: Build docs
on:
  pull_request:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          set -xe
          sudo apt update -y
          sudo apt install -y graphviz libhdf5-dev

      - name: Install versioned-hdf5
        run: |
          set -xe
          pip install .

      - name: Install versioned-hdf5 doc
        run: |
          pip install .[doc]

      - name: Build docs
        working-directory: docs
        run: |
          # Need to set timezone to avoid a sphinx/babel issue
          # when using act to run locally:
          # https://github.com/nektos/act/issues/1853
          TZ=UTC make html
