name: Build docs
on:
  pull_request:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # get correct version from setuptools_scm
          fetch-depth: 0
          fetch-tags: true

      - uses: prefix-dev/setup-pixi@v0
        with:
          pixi-version: v0.62.2
          cache: true
          environments: docs

      - name: Compile, install, and print versions
        run: pixi r -e docs smoke

      - name: Build docs
        run: pixi r -e docs docs
