name: Build and deploy docs to github pages

on:
  push:
    branches: ["master"]
  release:
    types: [published]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# Cancel in-progress deployment jobs so only the latest one succeeds.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      # Always checkout master branch, even if triggered by a tag.
      # Otherwise sphinx-multiversion does not pull the master branch.
      - uses: actions/checkout@v6
        with:
          ref: master
          fetch-tags: true  # needed by sphinx-multiversion

      - uses: prefix-dev/setup-pixi@v0
        with:
          pixi-version: v0.63.2
          cache: true
          environments: docs

      - name: Compile, install, and print versions
        run: pixi r -e docs smoke

      - name: Build docs
        run: pixi r -e docs docs-multiversion

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_build-multiversion/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
